body{
    margin:0;
    background: #000017;
    scroll-behavior: smooth;
}

#logo{
    padding-left:4rem;
    margin-left: auto;
    margin-right:auto;
    display: inline;
    vertical-align: middle;
}

a{ text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
#menu ul li{
    list-style-type: none;
    display: inline-block;
}


#button{
    color: white;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: 0;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 30px;
    font-family: 'Open Sans', sans-serif;  
    text-align: left;
    position: relative;
    
}    

#button:after{
    bottom: 0;
    content: " ";
    display: inline-block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: orange;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
#button:hover:after { 
    width: 100%; 
    left: 0; 
  }

.skills{
    width: 500px;
    margin: 60px auto;
    color: white;
    list-style:none;
    font-family: 'Open Sans', sans-serif;  
    letter-spacing: 0.1em;
}
.skills li{
    margin: 20px 0;
}

.bar{
    background-color: #353b48;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    overflow: hidden;
    display:block;
}

.bar span{
    height: 5px;
    float:left;
    background: orange;
}

.html{
    width: 70%;
    animation: html 2s;
}

.css{
    width: 90%;
    animation: css 3s;
}

.js{
    width: 10%;
    animation: js 4s;
}

.php{
    width: 30%;
    animation: php 5s;
}

@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
}

@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}

@keyframes js{
    0%{
        width:0%;
    }
    100%{
        width:10%;
    }
}

@keyframes php{
    0%{
        width:0%;
    }
    100%{
        width:30%;
    }
}

.tabelka{
    width: 1000px;
    text-align: center;
    right: auto;
    left: auto;

}

.tabelkagora{
    width:70%;
    background: #0000FF;
    color: white;
    height: 100px;
}
.tabelkaprawo1{
    width:30%;
    height:150px;
    float:left;
    background: #00FF00;
    color: white;
}
.tabelkaprawo2{
    width:30%;
    height:250px;
    float:left;
    background: #FF0000;
    color: white;
}
.tabelkadol{
    width:100%;
    height:100px;
    float:left;
    background: #FF00FF;
    color: white;
    clear:both;
}
